body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a1717;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
